   <section class="galerie-section">
        <div class="galerie-caroussel">
            <div class="galerie-photo"><img src="/assets/img/galerie_img1.png" alt=""></div>
            <div class="galerie-photo"><img src="/assets/img/galerie_img2.png" alt=""></div>
            <div class="galerie-photo"><img src="/assets/img/galerie_img3.png" alt=""></div>
            <div class="galerie-photo"><img src="/assets/img/galerie_img4.png" alt=""></div>
            <div class="galerie-photo"><img src="/assets/img/galerie_img5.png" alt=""></div>
            <div class="galerie-photo"><img src="/assets/img/galerie_img1.png" alt=""></div>
            <div class="galerie-photo"><img src="/assets/img/galerie_img2.png" alt=""></div>
            <div class="galerie-photo"><img src="/assets/img/galerie_img3.png" alt=""></div>
            <div class="galerie-photo"><img src="/assets/img/galerie_img4.png" alt=""></div>
            <div class="galerie-photo"><img src="/assets/img/galerie_img5.png" alt=""></div>
        </div>

        <div class="loupe-clip">
            <div class="loupe-scale">
                <div class="galerie-caroussel">
                    <div class="galerie-photo"><img src="/assets/img/galerie_img1.png" alt=""></div>
                    <div class="galerie-photo"><img src="/assets/img/galerie_img2.png" alt=""></div>
                    <div class="galerie-photo"><img src="/assets/img/galerie_img3.png" alt=""></div>
                    <div class="galerie-photo"><img src="/assets/img/galerie_img4.png" alt=""></div>
                    <div class="galerie-photo"><img src="/assets/img/galerie_img5.png" alt=""></div>
                    <div class="galerie-photo"><img src="/assets/img/galerie_img1.png" alt=""></div>
                    <div class="galerie-photo"><img src="/assets/img/galerie_img2.png" alt=""></div>
                    <div class="galerie-photo"><img src="/assets/img/galerie_img3.png" alt=""></div>
                    <div class="galerie-photo"><img src="/assets/img/galerie_img4.png" alt=""></div>
                    <div class="galerie-photo"><img src="/assets/img/galerie_img5.png" alt=""></div>
                </div>
            </div>
        </div>

        <div class="lens-border"></div>
    </section>
