@font-face {
    font-family: 'village-pm';
    src: url('../fonts/Columbia-Serial\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.fond-color {
    background-color: #A19E7F;
}

header {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    gap: 4px;

    display: flex;
    justify-content: center;

    z-index: 10;
    font-family: 'village-pm', sans-serif;
}

.part-1{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: fit-content;
    padding: 30px;
    border-radius: 6px;
}

.logo-header{
    width: 100px;
    filter: invert();
}

.part-2{
    display: flex;
    background-color: white;
    height: 83px;   
    width: 43%;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    border-radius: 6px;
}

.part-2 a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.part-2 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: black;

    transform: scaleX(0);       
    transform-origin: center;       
    transition: transform 0.3s ease;
}

.part-2 a:hover::after {
    transform: scaleX(1); 
}


.part-2 ul{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 40px;
    text-decoration: none;
    padding-right: 40px;
}

.part-2 li{
    list-style: none;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-family: 'village-pm', sans-serif;
}

.chaussure-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 103%;
    width: auto;

    object-fit: cover;
    z-index: 1;
}

.logo-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: 2;
}

.hero h1,
.hero p {
    position: absolute;
    z-index: 2;
    color: white;
}

.hero h1 {
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 213px;
}

.hero p {
    top: 61%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 31px;
}

.section-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'village-pm', sans-serif;
    color: #121212;
}

.section-titles h1 {
    font-size: 50px;
}

.section-titles p {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;

    font-size: clamp(18px, 2vw, 26px);
    line-height: 1.4;
}


/* partie pour le scroll */
.scroll-3d {
    position: relative;
    height: 700vh;  
    background: black;
    display: flex;
    flex-direction: column;
}

.scroll-3d canvas {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;  
    z-index: 1;  
}

.scroll-content {
    position: relative;
    z-index: 2;  
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    pointer-events: none;
}

/* ===================== */
/* TEXTES SCROLL 3D */
/* ===================== */

.text {
    position: fixed;
    z-index: 3;
    color: #121212;
    opacity: 0;
    max-width: 320px;
    font-family: 'village-pm', sans-serif;
    pointer-events: none;
}

/* TEXTE 1 (centre haut) */
.text-1 {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* TEXTE 2 (gauche milieu) */
.text-2 {
    top: 55%;
    left: 8%;
}

/* TEXTE 3 (droite bas) */
.text-3 {
    bottom: 20%;
    right: 8%;
}